<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- call header here -->
<div th:insert="fragments/header :: header"></div>

<body>
	<div layout:fragment="content">
		<p th:text="'Name : '+${firstName}+' '+${lastName}"></p>
		<p th:text="'dob : '+${dob}"></p>
	</div>
</body>
<!-- call footer here -->
<div th:insert="fragments/footer :: footer"></div>

</html>